h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 3;
    text-align: center;
    
}

body{
    background-color:rgb(31, 82, 53);
    color: beige;

}
.table{
    font-size:25px;
    border: black solid 2px;
}
li{
    font-size: 25px;
    padding-right: 65%;
}
a{

    text-decoration: underline;
}